.header{
}
.content{
}
.footer{
	font-size: 14px;
}
/* paragraf yang tulisannya hilang*/
p.noDisplay{
	color: white;
	font-size: 5px;
}
p.noDisplayData{
	color: white;
	margin: 0;
	font-size: 12px;
	font-family: arial;

}
/* Paragraf yang ada pada header */
p.pHeader1{
	margin: 0;
	font-size: 28px;
	text-align: center;
	font-family: serif;
	font-weight: bold;

}
p.pHeader2{
	margin: 0;
	font-size: 20px;	
	text-align: center;
	font-family: serif;
	font-weight: bold;
}
p.pHeader3{
	margin: 0;
	font-size: 20px;
	text-align: center;
	font-family: serif;
	font-weight: bold;
}
p.pHeader4{
	text-align: center;
	margin: 0;
	font-size: 12px;
}

/* garis yang ada pada header */
hr.garis1 {
  border: 2px solid;
}

hr.garis2 {
  border: 1px solid;
}

/* Paragraf yang ada pada header */
p.pContent1{
	margin: 0;
	font-size: 18px;
	background-color: black;
	color: white;
	text-align: center;
	font-weight: bolder;
}

.pContent2{
	margin: 0;
	font-size: 14px;
}
p.pContent3{
	margin: 0;
	font-size: 18px;
	background-color: black;
	color: white;
	font-weight: bold;
	font-style: italic;
}
p.pContent4{
	margin: 0;
	font-size: 18px;
	background-color: black;
	color: white;
	font-weight: bolder;
}


body{
	font-family: arial;
}

table.tabel{
	vertical-align: top;
	text-align: left;
}